




.content{
}


img {
    height: 15px;
    padding: 5px;
    }   




.message{
    display:flex;
    flex-direction: flex-start;
    align-items: center;
    margin:2px;
    background-color: lightgrey;
    height: 40px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    border:1px darkgrey;
}
